#section1 {
    /* width: 100vw; */
    margin: 20px;
}

.framContainer {
    position: relative;
    /* only width is set, height adjusts to image */
    width: 55%;
    display: flex;
    justify-self: center;
    justify-content: center;
}

#loginImg {
    display: block;
    width: 100%;
    display: flex;
    justify-self: center;
    /* margin-top: 20px; */
    border-radius: 5px;
}

#filterfade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #ffffffac;
    pointer-events: none;
}